<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Shipping Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" [ngClass]="{'field-valid': isFieldValid('firstName')}">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
            @if (isFieldValid('firstName')) {
              <mat-icon matSuffix class="success-indicator">check_circle</mat-icon>
            }
            @if (addressForm.controls['firstName'].hasError('required')) {
              <mat-error>
                First name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" [ngClass]="{'field-valid': isFieldValid('lastName')}">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
            @if (isFieldValid('lastName')) {
              <mat-icon matSuffix class="success-indicator">check_circle</mat-icon>
            }
            @if (addressForm.controls['lastName'].hasError('required')) {
              <mat-error>
                Last name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" [ngClass]="{'field-valid': isFieldValid('address')}">
            <mat-label>Street Address</mat-label>
            <textarea matInput formControlName="address" rows="2"></textarea>
            @if (isFieldValid('address')) {
              <mat-icon matSuffix class="success-indicator">check_circle</mat-icon>
            }
            <mat-hint>Enter your full street address</mat-hint>
            @if (addressForm.controls['address'].hasError('required')) {
              <mat-error>
                Street address is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      @if (!hasUnitNumber) {
        <div class="row">
          <div class="col">
            <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
              + Add C/O, Apt, Suite, Unit
            </button>
          </div>
        </div>
      }
      @if (hasUnitNumber) {
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
            </mat-form-field>
          </div>
        </div>
      }
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" [ngClass]="{'field-valid': isFieldValid('city')}">
            <mat-label>City</mat-label>
            <input matInput formControlName="city">
            @if (isFieldValid('city')) {
              <mat-icon matSuffix class="success-indicator">check_circle</mat-icon>
            }
            @if (addressForm.controls['city'].hasError('required')) {
              <mat-error>
                City is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" [ngClass]="{'field-valid': isFieldValid('state')}">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              @for (state of states; track state.abbreviation) {
                <mat-option [value]="state.abbreviation">
                  {{ state.name }}
                </mat-option>
              }
            </mat-select>
            @if (isFieldValid('state')) {
              <mat-icon matSuffix class="success-indicator">check_circle</mat-icon>
            }
            @if (addressForm.controls['state'].hasError('required')) {
              <mat-error>
                State is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" [ngClass]="{'field-valid': isFieldValid('postalCode')}">
            <mat-label>Postal Code</mat-label>
            <input matInput #postalCode maxlength="5" type="text" inputmode="numeric" pattern="[0-9]{5}" formControlName="postalCode">
            @if (isFieldValid('postalCode')) {
              <mat-icon matSuffix class="success-indicator">check_circle</mat-icon>
            }
            <mat-hint align="end">{{postalCode.value.length}} / 5 digits</mat-hint>
            @if (addressForm.controls['postalCode'].hasError('required')) {
              <mat-error>
                Postal code is required
              </mat-error>
            }
            @if (addressForm.controls['postalCode'].hasError('minlength') || addressForm.controls['postalCode'].hasError('maxlength')) {
              <mat-error>
                Postal code must be exactly 5 digits
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="shipping">
            <mat-radio-button value="free">Free Shipping</mat-radio-button>
            <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
            <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting" class="submit-button">
        @if (isSubmitting) {
          <mat-spinner diameter="20" class="button-spinner"></mat-spinner>
        }
        @if (!isSubmitting) {
          <mat-icon>check</mat-icon>
        }
        <span>{{ isSubmitting ? 'Submitting...' : 'Submit' }}</span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
